@import '../../variables.styl'
.catalog__container
  position relative
  min-height 300px

@media (min-width: 1000px)
  .catalog__container
    display flex
    width 960px
    margin 50px auto 0
    justify-content space-around

@media (min-width: 1220px)
  .catalog__container
    width 1200px

@media (min-width: 1270px)
  .catalog__container
    width 1250px