.working-hours
  padding 20px
  margin 0
  border-bottom 1px solid #e1e1e1

.working-hours__wrapper
  display flex
  flex-wrap nowrap

.working-hours__time
  margin-left 20px
  color #777777

@media (min-width 1000px)
  .working-hours
    margin 10px 0
