@import '../../../../variables.styl'
.social-link__icon
  font-size 17px
  transition $animation-speed

.social-link__link:hover .social-link__icon,
.social-link__link:focus .social-link__icon
  color $accent-green-color