@import '../../../variables.styl'
.embla__dot-btn
  height 14px
  width 14px
  margin 0 6px
  border-radius 50%
  background-color $secondary-font-color
  transition $animation-speed

.embla__dot-btn--selected
  background-color $accent-green-color