@import '../../variables.styl'
.advantages
  background linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../resources/images/advantages-bg.webp')
  background-position center
  background-repeat no-repeat
  background-size cover

.advantages__list
  padding 10px 0 40px

.advantages-item__icon
  display block
  margin 50px auto 20px
  font-size 36px
  line-height 36px
  color $accent-green-color
  text-align center

.advantages-item__title
  margin-bottom 10px
  font-family $main-font
  font-size 18px
  font-weight 600
  letter-spacing 0.5px
  text-transform uppercase
  text-align center
  color $handwriting-font-color

.advantages-item__text
  width 90%
  margin 0 auto
  font-family $secondary-font
  font-size 13px
  text-align center
  color $handwriting-font-color

@media (min-width: 620px)
  .advantages__list
    display grid
    width 520px
    margin 0 auto
    grid-template-columns repeat(2, 240px)
    column-gap 40px

  .advantages-item__text
    width 100%

@media (min-width: 820px)
  .advantages__list
    padding 30px 0 70px
    width 700px
    grid-template-columns repeat(2, 330px)

  .advantages-item__icon
    margin 50px 100% 20px 0
    font-size 42px
    line-height 42px

  .advantages-item__title
    margin-top 20px
    letter-spacing 1px
    font-size 20px
    text-align left

  .advantages-item__text
    font-size 15px
    letter-spacing 0.5px
    line-height 1.6
    text-align left

@media (min-width: 1200px)
  .advantages__list
    padding 70px 0 100px
    width 1200px
    column-gap 0
    display flex
    justify-content space-between
    flex-wrap nowrap

  .advantages__item
    margin 0 15px

  .advantages-item__title
    font-size 24px