.social-link__container
  display flex
  flex-wrap nowrap
  align-items center

.social-link__heading
  margin 10px
  flex-shrink 0
  font-weight 400

.social-link__list
  display flex
  width 110px
  justify-content space-between
