@import '../../../../variables.styl'
.cart-item__container
  display grid
  grid-template-areas "thumbnail title ." "thumbnail counter price"
  grid-template-columns 100px 125px 1fr
  grid-template-rows 45px 45px
  grid-gap 0 20px
  margin-bottom 20px
  font-family inherit
  font-size inherit
  font-weight inherit
  line-height inherit
  color inherit

.cart-item__container:last-child
  margin-bottom 0

.cart-item__title
  grid-area title
  margin 0
  font-family inherit
  font-size inherit
  color inherit
  font-weight inherit
  text-transform capitalize
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

.cart-item__thumbnail
  grid-area thumbnail
  height 80px
  width 90px
  object-fit contain
  padding 5px
  background-color #f1f1f1

.cart-item__price
  grid-area price
  font-family inherit
  font-size inherit
  color inherit
  width 100%
  margin 5px 0

.cart-item__counter
  grid-area counter

@media (max-width: 500px)
  .cart-item__container
    grid-template-columns 100px 100px 1fr
    grid-gap 0 5px
