@font-face
  font-weight normal
  font-family "awesome"
  font-style normal
  font-display swap
  src url("../../resources/fonts/icons.woff2") format("woff2"), url("../../resources/fonts/icons.woff") format("woff")

[class^="icon-"]::before, [class*=" icon-"]::before
  font-family "awesome"
  font-style normal
  font-weight normal
  speak never
  display inline-block
  text-decoration inherit
  width 1em
  margin-right .2em
  margin-left .2em
  text-align center
  font-variant normal
  text-transform none
  line-height 1em
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-phone::before
  content "\e800"

.icon-location::before
  content "\e801"

.icon-search::before
  content "\e802"

.icon-basket::before
  content "\e803"

.icon-up::before
  content "\e804"

.icon-right::before
  content "\e805"

.icon-left::before
  content "\e806"

.icon-ok::before
  content "\e807"

.icon-right-open::before
  content "\f006"

.icon-twitter::before
  content "\f099"

.icon-facebook::before
  content "\f09a"

.icon-gplus::before
  content "\f0d5"

.icon-mail::before
  content "\f0e0"

.icon-instagram::before
  content "\f16d"

.icon-paperplane::before
  content "\f1d9"

.icon-truck::before
  content "\e808"

.icon-wallet::before
  content "\e80a"

.icon-clock::before
  content "\e809"

.icon-minus::before
  content "\e80b"

.icon-plus::before
  content "\e80c"

.icon-olive::before
  content "\f18c"