@import '../../variables.styl'
.hero-slider
  position relative
  min-height 365px

.hero-slider__container
  width 100%
  display flex
  flex-direction row
  flex-wrap nowrap

.hero-slider .hero-slider__btn
  font-family $main-font
  font-size 14px
  font-weight 600
  color $handwriting-font-color
  background rgba(255, 255, 255, 0.30)

.hero-slider .hero-slider__btn::before
  content ''
  position absolute
  width 32px
  height 2px
  background-color $handwriting-font-color
  bottom 20px
  left calc(50% - 13px)

.hero-slider .hero-slider__btn--previous::before
  left calc(50% - 18px)

.hero-slider .hero-slider__btn--next
  padding 14px 14px 20px 20px
  border-radius 20px 0 0 20px

.hero-slider .hero-slider__btn--previous
  padding 14px 20px 20px 14px
  border-radius 0 20px 20px 0

@media (max-width: 599px)
  .hero-slider .hero-slider__btn
    display none

@media (min-width: 600px)
  .hero-slider .hero-slider__dots-container
    display none

@media(min-width: 800px)
  .hero-slider
    min-height 405px

@media(min-width: 1200px)
  .hero-slider
    min-height calc(25vw + 220px)
