@import '../../../variables.styl'
.modal-toggler
  position relative

.modal-toggler__btn
.modal-toggler__btn
  font-size 30px
  transition $animation-speed

.modal-toggler__btn:hover,
.modal-toggler__btn:focus
  color $accent-color