.embla__viewport
  position relative
  overflow hidden

.embla__container
  min-width 100%

.embla__viewport.is-draggable
  cursor grab

.embla__viewport.is-dragging
  cursor grabbing

.embla__dots-container
  position absolute
  bottom 25px
  left calc(50% - 75px)
  height 14px
  width 150px
  display flex
  flex-direction row
  justify-content center