@import '../../variables.styl'
.link-as-btn
  display block
  box-sizing border-box
  font-family $main-font
  font-size 14px
  line-height 28px
  letter-spacing 1px
  font-weight 700
  color $handwriting-font-color
  text-align center
  text-transform uppercase
  transition $animation-speed

.link-as-btn:active
  transform scale(0.95)

.link-as-btn--rectangular-green,
.link-as-btn--rectangular-red
  padding 14px 25px
  border-radius 5px

.link-as-btn--rectangular-green
  color $main-font-color
  border 2px solid $main-font-color

.link-as-btn--rectangular-green
  padding 12px 23px

.link-as-btn--rectangular-green:hover,
.link-as-btn--rectangular-green:focus
  background-color $accent-green-color
  color $handwriting-font-color
  border 2px solid $accent-green-color

.link-as-btn--round-red,
.link-as-btn--rectangular-red
  background-color $accent-color

.link-as-btn--round-grey
  background-color #707475

.link-as-btn--round-grey:hover,
.link-as-btn--round-grey:focus
  background-color $accent-green-color

.link-as-btn--round-red:hover,
.link-as-btn--round-red:focus,
.link-as-btn--rectangular-red:hover,
.link-as-btn--rectangular-red:focus
  background-color $darker-accent-color

.link-as-btn--round-grey,
.link-as-btn--round-green,
.link-as-btn--round-red
  text-align center
  line-height 30px
  border-radius 50%
  width 30px
  height 30px

@media (min-width: 768px)
  .link-as-btn--round-green,
  .link-as-btn--round-red
    width 40px
    height 40px
    line-height 40px

@media (min-width: 1000px)
  .link-as-btn--rectangular-red
    padding 14px 34px

  .link-as-btn--rectangular-green
    padding 12px 32px

  .link-as-btn--round-green,
  .link-as-btn--round-red
    line-height 50px
    font-size 20px
    width 50px
    height 50px