@media (min-width: 500px)
  .faq-and-specials
    position relative
    width 500px
    margin 0 auto

@media (min-width: 800px)
  .faq-and-specials
    margin 60px auto 50px
    display flex
    justify-content space-between
    align-items flex-start
    width 690px

@media (min-width: 1000px)
  .faq-and-specials
    margin 60px auto 30px
    width 930px

@media (min-width: 1200px)
  .faq-and-specials
    width 1170px