@import '../../../../variables.styl'
.categories-filter__container
  margin 0 10px
  order 3

.categories-filter__heading
  padding-bottom 14px
  margin-top 0
  font-family $main-font
  font-size 14px
  font-weight 600
  color $main-font-color
  letter-spacing 1px
  text-transform uppercase
  text-align center
  border-bottom 1px solid $light-border-color

.categories-filter__item
  display flex
  justify-content space-between
  margin 15px 0
  font-family $secondary-font
  font-size 15px
  font-weight 400
  letter-spacing 1.5px
  text-transform capitalize

.categories-filter__label
  position relative
  margin-left 30px
  color $main-font-color
  transition $animation-speed
  cursor pointer

.categories-filter__item-counter
  color $secondary-font-color
  margin 0
  transition $animation-speed

.categories-filter__label::before
  position absolute
  content ''
  top calc(50% - 10px)
  left -30px
  width 20px
  height 20px
  border 1px solid $main-font-color
  border-radius 3px
  box-sizing border-box
  transition $animation-speed

.categories-filter__checkbox:checked ~ .categories-filter__label::after
  position absolute
  display block
  content '✓'
  top calc(50% - 10px)
  left -29px
  width 20px
  height 20px
  font-weight 700
  text-align center
  line-height 20px
  transition $animation-speed

.categories-filter__checkbox:focus ~ .categories-filter__label,
.categories-filter__label:hover,
.categories-filter__label:focus
  color $accent-green-color

.categories-filter__checkbox:focus ~ .categories-filter__label ~ .categories-filter__item-counter,
.categories-filter__label:hover ~ .categories-filter__item-counter,
.categories-filter__label:focus ~ .categories-filter__item-counter
  color $accent-green-color

.categories-filter__checkbox:focus ~ .categories-filter__label::before,
.categories-filter__label:focus::before,
.categories-filter__label:hover::before
  border 1px solid $accent-green-color

.categories-filter__checkbox:checked:focus ~ .categories-filter__label::after,
.categories-filter__checkbox:checked ~ .categories-filter__label:hover::after,
.categories-filter__checkbox:checked ~ .categories-filter__label:focus::after
  color $accent-green-color

@media (min-width: 590px)
  .categories-filter__container
    grid-area categories

@media (min-width: 800px)
  .categories-filter__heading
    font-size 16px

@media (min-width: 1000px)
  .categories-filter__container
    margin 0

  .categories-filter__heading
    text-align left