@import '../../../variables.styl'
.hero-slider-item
  position relative
  width 100%
  height 195px
  padding 70px 0 100px 25px
  flex-shrink 0
  flex-grow 0
  background-size cover
  background-position center
  color $handwriting-font-color

.hero-slider-item__container
  height 100%
  display flex
  justify-content flex-start
  flex-direction column

.hero-slider-item__paragraph
  margin 0
  max-width 90%
  font-family $handwriting-font
  font-size 18px
  font-weight 700

.hero-slider-item__title
  font-family $main-font
  margin 4px 0
  font-size 32px
  font-weight 700
  letter-spacing 1.5px
  text-transform uppercase
  text-shadow: 1px 9px 16px rgba(0, 0, 0, 0.18);

.hero-slider-item__paragraph:last-of-type
  margin 0
  font-family $main-font
  font-size 22px
  font-weight 600
  text-transform uppercase

.hero-slider-item__link
  width 170px
  margin-top auto

@media (min-width: 500px)
  .hero-slider-item__container
    margin 0 auto
    width 80vw
    max-width 1170px

@media (min-width: 800px)
  .hero-slider-item
    height 235px

  .hero-slider-item__paragraph
    font-size 20px

  .hero-slider-item__title
    margin 0
    font-size 50px

  .hero-slider-item__paragraph:last-of-type
    font-size 26px

@media (min-width: 1200px)
  .hero-slider-item
    padding 170px 0 50px 25px
    max-height 720px
    height 25vw

  .hero-slider-item__paragraph
    letter-spacing 1.5px
    font-size 24px

  .hero-slider-item__title
    font-size 100px

  .hero-slider-item__paragraph:last-of-type
    font-size 36px

  .hero-slider-item__link
    margin-top 40px