@import '../../variables.styl'
.rating-select__list
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content center

.rating-select__item
  margin 5px 0

.rating-select__label
  color #ffcc00
  font-size 22px
  cursor pointer
  border-radius 50%
  transition $animation-speed

.rating-select__label:hover,
.rating-select__label:focus,
.rating-select__label--hovered,
.rating-select__label--selected
  color $accent-green-color

.rating-select__label--selected:hover,
.rating-select__label--selected:focus
  color $accent-color

.rating-select__input:focus-visible ~ .rating-select__label
  box-shadow 0 0 10px 4px #ffcc00
  border-radius 50%

.rating-select__input:focus-visible ~ .rating-select__label--selected
  box-shadow 0 0 10px 4px $accent-green-color