@font-face
  font-weight normal
  font-family "lato"
  font-style normal
  font-display swap
  src url("./resources/fonts/lato.woff2") format("woff2"),
    url("./resources/fonts/lato.woff") format("woff")


@font-face
  font-weight bold
  font-family "lato"
  font-style normal
  font-display swap
  src url("./resources/fonts/lato-700.woff2") format("woff2"),
    url("./resources/fonts/lato-700.woff") format("woff")


@font-face
  font-weight normal
  font-family "poppins"
  font-style normal
  font-display swap
  src url("./resources/fonts/poppins.woff2") format("woff2"),
    url("./resources/fonts/poppins.woff") format("woff")

@font-face
  font-weight 600
  font-family "poppins"
  font-style normal
  font-display swap
  src url("./resources/fonts/poppins-600.woff2") format("woff2"),
    url("./resources/fonts/poppins-600.woff") format("woff")

@font-face
  font-weight bold
  font-family "poppins"
  font-style normal
  font-display swap
  src url("./resources/fonts/poppins-700.woff2")format("woff2"),
    url("./resources/fonts/poppins-700.woff") format("woff")

@font-face
  font-weight bold
  font-family "kalam"
  font-style normal
  font-display swap
  src url("./resources/fonts/kalam-700.woff2") format("woff2"),
    url("./resources/fonts/kalam-700.woff") format("woff")

#root
  display flex
  flex-direction column
  min-height 100vh

body
  margin 0
  padding 0
  min-width 320px

input
  all unset

ul
  list-style none
  margin 0
  padding 0

img
  display block

a
  color inherit
  text-decoration inherit

*, *:focus, *:hover
  outline none

@keyframes fade-in-from-top
  0%
    transform translate(0, -10%)
    opacity 0
  50%
    opacity 1
  100%
    transform translate(0, 0)

@keyframes fade-in-from-bottom
  0%
    transform translate(0, 10%)
    opacity 0
  50%
    opacity 1
  100%
    transform translate(0, 0)

@keyframes fade-in-from-left
  0%
    transform translate(-10%, 0)
    opacity 0
  50%
    opacity 1
  100%
    transform translate(0, 0)

@keyframes fade-in-from-right
  0%
    transform translate(10%, 0)
    opacity 0
  50%
    opacity 1
  100%
    transform translate(0, 0)