$animation-speed = 300ms ease-out
$animation-speed-without-timing = 300ms
$smooth-animation-speed = 600ms ease-out
$main-font = poppins, sans-serif
$secondary-font = lato, sans-serif
$handwriting-font = kalam, cursive
$main-font-color = #151515
$secondary-font-color = #777777
$light-border-color = #e1e1e1
$accent-green-color = #7fd02c
$accent-color = #e52029
$darker-accent-color = #c20e16
$handwriting-font-color = #ffffff
$grey-box-shadow = 0px 0px 10px rgba(0,0,0,.5)