$animation-speed = 300ms
$smooth-animation-speed = 600ms
$main-font = 500 18px poppins, sans-serif
$main-font-color = #151515
$secondary-font = 400 15px lato, sans-serif
$secondary-font-color = #777777
$handwriting-font = 700 24px kalam, cursive
$handwriting-font-color = #ffffff
$accent-color = #e52029
$grey-box-shadow = 0px 0px 10px rgba(0,0,0,.5)